body{
    background-color: grey;
    color: black;
}
.header {
    padding: 40px;
    text-align: center;
    background: blue;
    color: white;
    font-size: 75px;
}
.h2 {
    font-size: 50px;
}
.list {
    font-size: 40px;
}
a:link {
    color:black;
    text-decoration: none;
}
a:visited {
    color:black;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
table, th, td {
    padding: 0px;
    border: 1px solid white;
    text-align: center;
    font-size: 30px;
}
.about {
    font-size: 30px;
}
.picture {
    float: right;
}
.container {
    padding: 30px;
    text-align: left;
    position: relative;
}
.video {
    padding: 30px;
}
.links {
    padding: 30px;
}
.examples {
    padding: 30px;
}
.posts {
    padding: 30px;
}
.flex-container {
    padding: 50px;
    display: flex;
    font-size: 25px;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;   
}
.button1 {
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 20px 37px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }
}